[submodule "ethcon-korea-loanster-frontend"]
	path = ethcon-korea-loanster-frontend
	url = https://github.com/swimmiee/ethcon-korea-loanster-frontend
[submodule "ethcon-korea-loanster-contract"]
	path = ethcon-korea-loanster-contract
	url = https://github.com/djm07073/ethcon-korea-loanster-contract
[submodule "ethcon-korea-loanster-contact-pancake"]
	path = ethcon-korea-loanster-contact-pancake
	url = https://github.com/djm07073/ethcon-korea-loanster-contact-pancake
